.idea/
.vscode/
.git/
_apps/
_localstorage/
logs/
docs/
page/
server/config
node_modules
**/node_modules/
.VSCodeCounter/

**/PlatformConfig_*.json
**/application_*.json
**/application.json
*.zip
**/package-lock.json
**/yarn.lock
**/deploy_fangzhou.sh
sync.js
.gitignore
README.md
zip_deploy.js
zip.js
.DS_Store
*.log
!_localstorage/editor_assets

zip_offline.js
zip_update.js
Dockerfile
PlatformConfig.json
mybricks-apaas.tar