.idea/
.vscode/
.git/
_apps/
_localstorage/
logs/
docs/
page/
server/config
node_modules
**/node_modules/

**/PlatformConfig_*.json
**/application_*.json
**/PlatformConfig.json
**/application.json
mybricks-apaas.zip
**/package-lock.json
**/yarn.lock
**/deploy_fangzhou.sh
sync.js
.gitignore
README.md
zip_deploy.js
zip.js
.DS_Store
*.log