node_modules

.DS_Store


assets
_apps
_localstorage/*
dist
*.zip
_temp_
.idea/
server/_assets/js
server/_assets/workspace.html

.vscode
package-lock.json
page/package-lock.json
server/package-lock.json
logs
.VSCodeCounter
!_localstorage/editor_assets