node_modules

.DS_Store


assets
_apps
_localstorage/*
dist
*.zip
_temp_
.idea/
server/_assets/js
server/_assets/workspace.html

.vscode
package-lock.json
page/package-lock.json
server/package-lock.json
logs
.VSCodeCounter
mybricks-apaas.tar
docker_logs
!_localstorage/editor_assets
ecosystem.config.slave_backup.json
ecosystem.config.slave.json
application_for_bugu.json
