.git/
.idea/
.DS_Store
node_modules
tags/*
.history
.vscode/
debugger/_open
coverage
package-lock.json
yarn.lock
.npmrc
*.pem
_nodejs/_assets/temp
_apps/*
_nodejs/dist/*
mybricks
mybricks.zip
!_apps/package.json
./package.json